<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Currency Converter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DB24F5F2CCDD80C0026BA84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DB24F6F2CCDD80D0026BA84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DB24F792CCDD80D0026BA84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
